 

      <hr>
     <div class="card-body">
            <h4 class="card-title"> Ajouter Contart </h4>
            <p class="card-description"></p>
            <form class="forms-sample" [formGroup]="fg"  >
              <div class="form-group">
                <label for="exampleInputUsername1">Date Debut</label>
                <input type="date"  id="datedebut"  placeholder="datedebut" formControlName="dateDebutContrat"  name="first">
                <div *ngIf="dateDebutContrat?.invalid">
                  <div *ngIf="dateDebutContrat?.errors?.['required']">required</div>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Date Fin</label>
                <input type="date"  id="datefin"  formControlName="dateFinContrat" >
                <div *ngIf="dateFinContrat?.invalid">
                  <div *ngIf="dateFinContrat?.errors?.['required']">required</div>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">specialite :</label>
                <select id="ddlViewBy"   formControlName="specialite"   >
                  <option class="dropdown-item" value="CLOUD" >CLOUD</option>
                  <option class="dropdown-item" value="IA" >IA</option>
                  <option class="dropdown-item" value="RESEAUX">RESEAUX</option>
                  <option class="dropdown-item" value="SECURITE">SECURITE</option>
                </select>
                <div *ngIf="specialite?.invalid">
                  <div *ngIf="specialite?.errors?.['required']">required</div>
              </div>
              </div>

              <div class="form-group" >
                <label for="exampleInputEmail1">Etudiant :</label>
                <select id="ddlViewBy"  [(ngModel)]="idEtudiant" [ngModel]  [ngModelOptions]="{standalone: true}"  >
                  
                  <option   *ngFor="let e of etudiants"  class="dropdown-item" value={{e.idEtudiant}} >{{e.nomE }} {{e.prenomE}}</option>
               
                </select>
              
              </div>


              <div class="form-group">
                <label for="exampleInputConfirmPassword1">Montant Contrat</label>
                <input type="text" class="form-control" id="montant_contrat" formControlName="montantContrat" >
                <div *ngIf="montantContrat?.invalid">
                  <div *ngIf="montantContrat?.errors?.['required']">required</div>
                  <div *ngIf="montantContrat?.errors?.['pattern']">number</div>
              </div>
              </div>
             
              <button [disabled]="fg.invalid" type="submit" class="btn btn-primary me-2"  (click)="submit(fg)">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        
     


   