

     <style>
        .caption{
          width: 150%;
          z-index: 1;
          top: 40%;
          text-transform: uppercase;
          position : absolute;
    left : 200px;
    top  : 90px;
        }
       </style>
       <script>
          $('.dropdown-toggle').dropdown()
       </script>
  
  <hr>
       <div class="card-body">
              <h4 class="card-title"> Gestion Reclamations </h4>
              <p class="card-description"></p>
           <!--  <form class="forms-sample" #f="ngForm" (submit)="submit(f)">--> 
                <form class="forms-sample"[formGroup]="formgroup"  >
                <div class="form-group">
                  <label for="exampleInputUsername1">Nom Reclamation</label>
                 <!-- <input type="text" [(ngModel)]="etudiant.nomE" [ngModel]  [ngModelOptions]="{standalone: true}"   class="form-control" id="exampleInputUsername1" placeholder="Nom Etudiant"  >-->
                 <input type="text" formControlName="nomRec"  placeholder="Nom Reclamation" class="form-control"  > 
               <div style="color:red  " *ngIf="name?.invalid ">
                <div  style="color:red  " *ngIf="name?.errors?.['required']">Ce champ est obligatoire </div>
               </div> 
               <div style="color:red  " *ngIf="name?.invalid ">
                <div  style="color:red  " *ngIf="name?.errors?.['minlength']">Minimun 5 caractére  </div>
               </div> 
               <div  style="color:red  " *ngIf="name?.invalid ">
                <div style="color:red  " *ngIf="name?.errors?.['maxlength']">Maximun 10 caractére  </div>
               </div> 
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Sujet Reclamation</label>
           <!-- <input type="text" [(ngModel)]="etudiant.nomE" [ngModel]  [ngModelOptions]="{standalone: true}"   class="form-control" id="exampleInputUsername1" placeholder="Nom Etudiant"  >-->
           <input type="text" formControlName="sujet"  placeholder="Sujet Reclamation" class="form-control"  > 
         <div style="color:red  " *ngIf="sujet?.invalid ">
          <div  style="color:red  " *ngIf="sujet?.errors?.['required']">Ce champ est obligatoire </div>
         </div> 
          </div>
    <div class="form-group">
    <label for="exampleInputEmail1">contenu</label>
    <!--<input type="text" [(ngModel)]="etudiant.prenomE" [ngModel]  [ngModelOptions]="{standalone: true}"  class="form-control" id="exampleInputEmail1" placeholder="Prenom Etudiant">-->
    <input type="text" placeholder="contenu" formControlName="contenu"  class="form-control" id="exampleInputUsername1"  > 
    <div style="color:red  " *ngIf="contenu?.invalid ">
      <div style="color:red  " *ngIf="contenu?.errors?.['required']">Ce champ est obligatoire </div>
     </div> 
     <div style="color:red  " *ngIf="contenu?.invalid ">
      <div style="color:red  " *ngIf="contenu?.errors?.['minlength']">Minimun 3 caractére  </div>
     </div> 
     <div style="color:red  " *ngIf="contenu?.invalid ">
      <div style="color:red  " *ngIf="contenu?.errors?.['maxlength']">Maximun 10 caractére  </div>
     </div> 
     
    </div>
       
             
    <div class="form-group">
        <label for="Date">Date</label>
<!--      <input type="date" [ngModel]="etudiant.datedebut | date:'yyyy-MM-dd'" (ngModelChange)="etudiant.datedebut = $event" type="date" name="startDate"  class="form-control"/> -->  
<input type="date" formControlName="daterec" > 
<div style="color:red  " *ngIf="daterec?.invalid">
  <div  style="color:red  " *ngIf="daterec?.errors">   Selectionnez une date  </div>
</div> 


</div> 
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
               <button  [disabled]="formgroup.invalid" (click)="onSuccess('Reclamation Ajouter ')" (click)="submit(formgroup.value)"  class="btn btn-primary me-2" type="submit" value="save" >Envoyer</button>
        
              </form>
            </div>
       
          
  
  