<div class="col-md-12">
	<div class="card card-container">
		<img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
		<div class="form-group" *ngIf="status == tokenStatus.VALID">
			<div class="alert alert-success" role="alert">E-mail vérifié avec succès. Veuillez vous connecter.</div>
		</div>
		<div class="form-group" *ngIf="status == tokenStatus.EXPIRED">
			<div class="alert alert-danger" role="alert">Link Expired!</div>
			<button class="btn btn-primary btn-block" (click)="resendToken()">Renvoyer l'e-mail de vérification</button>
		</div>
		<div class="form-group" *ngIf="status == tokenStatus.SENDING">
			<div class="alert alert-info" role="alert">Envoi de mail...</div>
		</div>
		<div class="form-group" *ngIf="status == tokenStatus.SENT">
			<div class="alert alert-info" role="alert">
				E-mail de vérification envoyé</div>
		</div>
		<div class="form-group" *ngIf="status == tokenStatus.INVALID">
			<div class="alert alert-danger" role="alert">Lien invalide</div>
		</div>
		<div class="form-group" *ngIf="errorMessage">
			<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
		</div>
	</div>
</div>
