<!-- <p>list-universite works!</p> -->

<div class="container">
  <div class="card">
    <h5 class="card-header">Liste des universites</h5>
    <div class="card-body">

     <div class="table-responsive">
          <table class="table align-items-center">
              <thead class="thead-light">
                  <tr>
                      <th scope="col" class="sort" data-sort="name">Nom universite</th>

                      <th >Email</th>
                      <th >Tel</th>
                      <th >Adresse</th>

                      <th>Action</th>
                </tr>
              </thead>
              <tbody class="list">

                <tr *ngFor="let universite of universites;let i = index">
                  <td>
                    {{universite.nomUniv}}
                  </td>
                  <td>
                    {{universite.email}}
                  </td>
                  <td>
                    {{universite.telephone}}
                  </td>
                  <td>
                    {{universite.adresse}}
                  </td>



                    <td >
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only " style="color: rgb(31, 29, 29);" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item"  (click)="deleteUniv(universite.idU,i)"  >Delete</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#update"  (click)="showFormUpdate(universite)" >Update</a>
                            </div>
                        </div>
                      </td>

                  </tr>
              </tbody>
          </table>
     </div>
    </div>
    <div class="text-center my-2">
    <button type="button" class="btn btn-primary" style="width: 25vw;" data-toggle="modal" data-target="#exampleModal">
     Ajouter une université
    </button>
    </div>

  </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une université</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm">
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Nom d'universite</label>
                    <input class="form-control" type="text" required minlength="3" name="nomUniv" [(ngModel)]="univ.nomUniv"  #nomUniv="ngModel">
                    <div *ngIf="nomUniv.invalid">
                      <app-errors [validator]="nomUniv"></app-errors>
                      </div>
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Email d'universite</label>
                  <input class="form-control" type="Email" required minlength="3" name="email" [(ngModel)]="univ.email"  #email="ngModel">
                  <div *ngIf="email.invalid">
                    <app-errors [validator]="email"></app-errors>
                    </div>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Telephone d'universite</label>
                <input class="form-control" type="number" required minlength="3" name="telephone" [(ngModel)]="univ.telephone"  #telephone="ngModel">
                <div *ngIf="telephone.invalid">
                  <app-errors [validator]="telephone"></app-errors>
                  </div>
            </div>

            <div class="form-group">
              <label for="example-text-input" class="form-control-label">Adresse d'universite</label>
              <input class="form-control" type="text" required minlength="3" name="adresse" [(ngModel)]="univ.adresse"  #adresse="ngModel">
              <div *ngIf="adresse.invalid">
                <app-errors [validator]="adresse"></app-errors>
                </div>
          </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ajouterUniv(f.value)" [disabled]="f.invalid">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="affichage">
      <app-update-universite [univ]="singleUni"></app-update-universite>
    </div>

</div>





